* {
  box-sizing: border-box;
}
.head p {
  color: #4e4e4e;
  font-size: 0.9rem;
}
.head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 5px;
  background-color: #0078ff;
}

/*  */

/* ----------- Animation ----------- */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.py-6 {
  padding-block: 80px !important;
}

.fs-7 {
  font-size: 0.8rem !important;
}
