.navbar-brand span{
    color: var(--bs-primary);
    font-weight: bolder;
    font-size: 2rem;
}
#home.bg-style {
    background-image: url("../img/bg.jpg");
}
#home .content .typed {
    font-size: 3.8rem;
    color: #ececec;
}
#home .content .typed::after {
    content: "";
    color: #fff;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 0.4rem;
    border-right: 0.1rem solid #ececec;
    animation: typed 10s linear infinite;
    /* -_*_-  Animation Implementation in assets.css File  -_*_- */
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}